HTTP_S=http://localhost
PUBLIC_URL=http://localhost:8080
PORT=8080
MODE=development


MONGODB_URL=mongodb://127.0.0.1:27017/News

JWT_SECRET=REPLACE_ME
JWT_EXPIRE=1d

SMTP_HOST=smtp.mailtrap.io
SMTP_EMAIL=REPLACE_ME
SMTP_PASSWORD=REPLACE_ME
SMTP_PORT=2525
RECIPIENT_EMAIL=you@example.com